* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

section {
    background: #a8b3b5;
    border: solid 1px black;
    position: relative;
    margin-bottom: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
}

/* desktop screen */
@media (min-width: 992px) {
    section {
        width: 31.3333333333333333%;
        float: left;
    }
}

/* tablet screen */
@media (min-width: 768px) and (max-width: 991px) {
    #sct1 {
        width: 48%;
        float: left;
    }

    #sct2 {
        width: 48%;
        float: left;
    }

    #sct3 {
        width: 98%;
        clear: both;
    }
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    border: solid 1px black;
    margin: 0px;
    position: absolute;
    right: 0px;
    padding: 2px;
    height: 26px;
}

p {
    margin: 30px 8px 8px 8px;
}

#sct1 h2 {
    background: #db86d3;
}

#sct2 h2 {
    background: #d11006;
    color: white;
}

#sct3 h2 {
    background: #e3eb07;
}
